if SHIELD_KB_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Pappas tastatur"

endif

if SHIELD_KB_LEFT || SHIELD_KB_RIGHT

config ZMK_SPLIT
    default y

endif
